<?xml version="1.0" encoding="UTF-8"?>
<suite name="Group of group Suite" verbose="1">
  <test name="Group of group Test">
  
    <classes>
    <!-- 
      <class name="com.week2.day4.examples.tests.testComputeSum" />
      
      
      <class name="com.week2.day4.examples.tests.testReverseArray" />
      -->
      <class name="com.week4.day2.examples.tests.StringAnagramTest" />
    </classes>
  </test>
  <!--  
  <parameter name="first-name"  value="Cedric"/>
  <test name="SimpleParamExample">
      <classes>
      <class name="com.week2.day4.testng.parameters.testParameters" />
    </classes>
  </test>
  -->
</suite>
